.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(68, 97, 68);
  height: 100px;
  width: 100%;
}
.header img {
  height: 100px;
  width: 100px;
  border: rgb(68, 97, 68) solid;
  margin-left: 20px;
  border-radius: 30px;
}
nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
nav a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

h1 {
  margin-right: 28px;
  text-align: center;
  color: white;
}
